*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red
}

h1, h2, h4, p, label{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

.tituloSecciones{
    text-align: center;
    font-size: 3rem;
    color: white;
}

@media (max-width: 768px) {
    .tituloSecciones{
        font-size: 2rem;
    }
}

/*NAVBAR*/

.logo{
    max-height: 45px !important;
    width: auto;
}

.navbar{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    position: fixed;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65);
}

.navbar-start{
    margin-left: auto;
}

.navbar-item{
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.navbar-item img {
  
}

/*HERO*/

.heroHome{
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(63, 63, 63, 0.30)),
        url(../image/heroFlow.png);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.containerHero{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
} 

.containerHero h4{
    color: red;
    font-weight: bold;
}

.containerHero h1{
    
}

.containerHero p{
    color: white;
}

@media (max-width: 768px) {
    .heroHome{
        background-position: 55% center;
    }
    .containerHero{
        margin-left: 1rem;
    }

}


/*FRASE*/

.frase{
    background-color: black;
}

.fraseInspiradora {
    color: white;
    text-align: center;
}


/*ENTRENAMIENTOS*/

.seccionEntrenamientos{
    background-image: url(../image/seccionEntrenamientos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 1rem;
    overflow-x: hidden;
}

.card{
    background: rgba(0, 0, 0, 0.45);
    transition: .3s;
    
}

.card:hover{
    transform: translateY(-5px);
}

.card-image-entrenamientos{
    max-width: 394px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.titulo-entrenamiento{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.texto-entrenamiento{
    font-size: 0.8rem ;
    text-align: center;
    color: white;
}


/*CONTACTO*/

.contacto{
    background-image: url(../image/fondoContacto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1rem;
}



.containerContactos{
    background:rgba(252, 252, 252, 0.10);
    border-radius: 25px;
    padding: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.label{
    color: white;
}

.input {
    background: rgba(0, 0, 0, 0.75);
    color: white; 

}

.input:focus{
    outline: none;
    box-shadow: none;
    border-color: #D4111E;
}

.contenedorBoton{
    text-align: center;
}

.botonForm{
    text-align: center;
    color: white;
    margin-top: 1rem;
    background: rgba(253, 2, 2, 0.45);
}