:root{
    color-scheme: dark !important;
    --color-principal: hwb(348 3% 19%);
    --color-secundario: black;
    --color-borde-suave: #bcb4b452; 
    --fuentePrincipal: "Bebas Neue", sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red*/
}

html{
    scroll-behavior: smooth;
}

html, body{
    background-color: var(--color-secundario);
    max-width: 100%;
    
}

.tituloPrincipal{
    font-size: 100px;
}


h1, h2, h4, h6, a, button, .subtitulo {
    font-family: var(--fuentePrincipal);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: white;
}

.navbar-item, .subtitle, .button{
    color: white;
    letter-spacing: 4px;
    font-weight: 100;
}

.navbar-item:hover{
    background-color: rgba(207, 7, 47, 0.15);
}

.title{
    color: var(--color-principal);
}

/* NAVBAR */

.navbar{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
    height: 70px;
    
}

.navbar-start{
    margin-left: auto;
}

.logo{
    max-height: 45px !important;
    width: auto;
}

.navbar-brand {
    margin-left: 2rem;
}

.navbar-menu{
    margin-left: auto;
}

.navbarContacto{
    width: 120px;
    background-color: var(--color-principal);
    border-radius: 5px;
}

.navbarContacto .button{
    width: 120px;
    background-color: var(--color-principal);
    border-radius: 15px;
}

.navbarContacto .button:hover{
    background-color: var(--color-secundario);
}

.navbarContacto .button:active{
    background-color: #591926;
}

/* HERO */

.heroHome{
    height: 100vh;
    padding: 4rem;
    display: flex;
    background-image: url(../image/hero2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.containerHero{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
}

.buttonPlanes {
    background-color: var(--color-principal);
}

.buttonPlanes:hover {
    background-color: var(--color-secundario);
}

.buttonPlanes:active{
    background-color: #591926;
}

.buttonContacto{
    background-color: rgb(40, 39, 39);
}

.buttonContacto:hover{
    background-color: rgb(72, 71, 71);
}

.buttonContacto:active{
    background-color: #c9c6c6;
}


.puntoSubtitle{
    color: var(--color-principal);
}

/* MARQUEE */

.marquee {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid var(--color-borde-suave);
}

.marquee-track {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite; /* ajustá la duración: más = más lento */
}

/* Pausa al pasar el mouse */
.marquee:hover .marquee-track {
    animation-play-state: paused;
}

.marquee-content {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.marquee-item {
    color: #c1bebe;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0px;
    white-space: nowrap;
    text-transform: uppercase;
}

.marquee-dot {
    margin: 0 30px;
    color: var(--color-principal);
    font-size: 12px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); } /* -50% porque el contenido está duplicado x2 */

}    
/* EXPERIENCIA FLOW */

#experienciaFlow{
    padding: 4rem;
}

.containerExperienciaFlow{
    padding: 4rem;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
}

.tituloExperiencia{
    font-family: var(--fuentePrincipal);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.imagenFlow{
    top: 100px;
}

.imagenFlow img{
    width: 100%;
    border-radius: 25px;
    display: block;
}

.textoFlow {
    opacity: 0;
}

.textoFlow.animate__animated {
    animation-duration:1.5s;
    animation-timing-function: ease-out;
}

.textoFlow p {
    
 color: #cecece;
 text-align: start;
}


.textoFlow span{
    color: var(--color-principal);
    font-weight: bold;
}


/*ENTRENAMIENTOS*/

#entrenamientos{
    padding: 4rem;
}

.entrenamiento {
    opacity: 0;
}

.entrenamiento {
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
}

.tituloSeccion{
    padding: 2rem 4rem;
    border-top: 1px solid var(--color-borde-suave);
}

.tituloSeccion h2{
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
}

.containerEntrenamientos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.entrenamiento{
    padding: 2rem;
    width: 300px;
    border: 1px solid var(--color-borde-suave);
    border-radius: 25px;
}

.entrenamiento:hover {
    border: 1px solid rgba(348,3,19, 0.25);
    border-radius: 25px;
    background: rgba(348,3,19, 0.03);
}

.numeroEntrenamiento{
    font-family: var(--fuentePrincipal);
    color: var(--color-principal);
    font-weight: bold;
}

.textoEntrenamiento{
    font-family: var(--fuentePrincipal);
    color: white;
    font-size: 30px;
    font-weight: bold;

}

/*GALERIA*/

#galeria{
    padding: 4rem;
}

.containerGaleria{
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.containerImagen{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 25px;
}

.containerImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    transition: transform 0.4s ease;

}

.containerImagen img:hover{
    transform: scale(1.1);
}

.containerVerMas{
    padding-top: 2rem;
    text-align: center;
}

.containerVerMas .verMas{
    background-color: var(--color-principal);
}

.containerVerMas .verMas:hover{
    background-color: var(--color-secundario);
}

.containerVerMas .verMas:active{
    background-color: #591926;
}

/*Ventana Modal*/

.modal{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999 !important;
    
}

.contenidoModal{
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    animation: zoomModal .3s ease;
    border: 10px solid var(--color-borde-suave);
}

@keyframes zoomModal{
    from{
        transform: scale(.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.cerrar{
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

/*PLANES*/

#planes{
    padding: 4rem;
}

.containerPlanes{
    padding-left:2rem ;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.detallePlan{
    padding: 2rem;
    border: 1px solid var(--color-borde-suave);
    border-radius: 20px;
    opacity: 0;
}

.detallePlan.animate__animated {
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.detallePlan:hover{
    background: rgba(348,3,19, 0.03);
}

.detallePlan:hover{
    border: 1px solid rgba(348,3,19, 0.25);
}

.tituloPlan{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.subtituloPlan{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: var(--color-principal);
}

.descripcionPlan{
    padding-bottom: 1rem;
    color: white;
}

.valorPlan{
    font-family: var(--fuentePrincipal);
    color: var(--color-principal);
    font-size: 30px;
    padding-bottom: 1rem;
}

.containerButtonPlan{
    text-align: center;
}

.containerButtonPlan{
    padding-top: 1rem;
}

.buttonPlan{
    width: 150px;
    font-size: 1rem;
    background-color: var(--color-principal);
    border-radius: 15px;
}

.buttonPlan:hover{
    background-color: var(--color-secundario);
}

.buttonPlan:active{
    background-color: #591926;
}

/*INSTALAR APP*/

.containerApp{
    padding: 4rem;
    border-top: 1px solid var(--color-borde-suave);
}

.subtituloApp{
    font-size: 4rem;
    text-align: center;
}

.subtituloApp span{
    color: var(--color-principal);
}

.textoInstalaApp{
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.textoAsiDeSimple{
    font-size: 2rem;
    text-align: center;
    color: white;
}

.textoAsiDeSimple span{
    font-family: var(--fuentePrincipal);
    color: var(--color-principal);
}

.containterSistOperativos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto; 
}

.containterSistOperativos img {
    margin-top: 2rem;
    width: 180px;
    transition: all .3s ease;
}

.containterSistOperativos img:hover {
    transform: translateY(-2px);
}
/*LOGO WHATSAPP FLOTANTE*/

.botonWhatsappFlotante{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    
}

.logoWhatsapp{
    width: 60px;
    height: 60px;
    transition: transform .3s;
}

.logoWhatsapp:hover {
    transform: scale(1.1);
}


/*ONE MORE REP*/

#oneMoreRep{
    background-image: url(../image/oneMoreRep.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oneMoreRepTexto{
    font-family: var(--fuentePrincipal);
    font-size: clamp(3rem, 10vw, 150px);
    text-align: center;
}

/*FOOTER*/

.footerContainer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    background-color: var(--color-secundario);
    padding: 2rem 0;
    border-top: 2px solid var(--color-principal);
}

.footerLogo{
    text-align: justify;
}

.fa-instagram, .fa-location-dot, .fa-whatsapp{
    padding: 2rem 0;
    font-size: 25px;
    color: white;
}

.fa-instagram:hover, .fa-location-dot:hover, .fa-whatsapp:hover{
    color: var(--color-principal)
}

.footerLogo img{
    width: 200px;
    height: auto;
}

.footerLogo p {
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    padding-top: 20px;
}

.footerNavbar,
.footerContacto {
    text-align: left;
}

.subtituloNavbarFooter{
    color: var(--color-principal);
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
}

.subtituloNavbarFooter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 40px;
    height: 2px;
    background-color: var(--color-principal);
}

.logoInsta{
    font-size: 30px;
    position: relative;
    display: inline-block;
}

.logoInsta::after{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 35px;
    height: 1px;
    background-color: var(--color-principal);
}

.logoInstagram{
    position: relative;
    display: inline-block;
}

.logoInstagram::after{
    content: "";
    position: absolute;
    left: calc(100% + 20px);
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 25px;
    background-color: var(--color-principal);
}

.footerNavbar li{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 10px 0;
    font-size: 15px;
    color: white;
}

.footerNavbar li:hover{
    color: var(--color-principal);
}

.conteinerRed{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.conteinerRed p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 15px;

}

.conteinerRed p:hover{
    color: var(--color-principal);
}



/*COMENZAR*/
/*#comenzar{
    background-image: url(../image/estasListo.webp);
    background-position: center 70% ;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


/* MEDIAS QUERY

/*TABLET*/


@media (max-width: 1024px) {

    /* NAVBAR */

    .navbar-brand {
        margin-left: 1rem;
    }

    .navbar-menu {
        margin-left: 0;
    }

    .navbar-item {
        font-size: 14px;
        letter-spacing: 2px;
    }

    /* HERO */

    .heroHome {
        padding: 2rem;
    }

    .containerHero {
        padding-left: 1rem;
    }

    .tituloPrincipal {
        font-size: 80px;
    }

    /* EXPERIENCIA FLOW */

    #experienciaFlow {
        padding: 2rem;
    }

    .containerExperienciaFlow {
        padding: 2rem;
        gap: 2rem;
    }

    /* ENTRENAMIENTOS */

    #entrenamientos {
        padding: 2rem;
    }

    .containerEntrenamientos {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .entrenamiento {
        width: 100%;
    }

    /* GALERÍA */

    #galeria {
        padding: 2rem;
    }

    .containerGaleria {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0 1rem;
    }

    /* PLANES */

    #planes {
        padding: 2rem;
    }

    .containerPlanes {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* APP */

    .containerApp {
        padding: 2rem;
    }

    .subtituloApp {
        font-size: 3rem;
    }

    /* ONE MORE REP */

    .oneMoreRepTexto {
        font-size: clamp(4rem, 10vw, 100px);
    }


    /* FOOTER */

    .footerContainer {
        justify-content: space-evenly;
        gap: 2rem;
        padding: 2.5rem 2rem;
    }

    .footerLogo img {
        width: 170px;
    }

    .footerLogo p {
        font-size: 1.2rem;
    }

    .subtituloNavbarFooter {
        font-size: 18px;
    }

    .footerNavbar li,
    .conteinerRed p {
        font-size: 14px;
    }

    .fa-instagram,
    .fa-location-dot,
    .fa-whatsapp {
        font-size: 22px;
    }

}


/* CELULAR */

@media (max-width: 768px) {

    /* GENERAL */

    .tituloSeccion {
        padding: 1.5rem 1rem;
    }

    .tituloSeccion h2 {
        font-size: 3rem;
    }


    /* NAVBAR */

    .navbar {
        height: 60px;
    }

    .navbar-brand {
        margin-left: 0.5rem;
    }

    .logo {
        max-height: 40px !important;
    }


    .navbar-burger{
        color: var(--color-principal);
    }


    .navbar-menu {
        margin-left: 0;
    }

    .navbarContacto {
        width: 100%;
    }

    .navbarContacto .button {
        width: 100%;
    }

    .navbar-item{
        font-size: 15px;
    }

    /* HERO */

    .heroHome {
        padding: 1.5rem;
        background-position: center;
    }

    .containerHero {
        padding-left: 0;
    }

    .tituloPrincipal {
        font-size: 60px;
        line-height: 0.95;
    }

    .subtitulo {
        padding-top: 1rem;
        font-size: 1.2rem !important;
    }

    .containerButtonHero {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .buttonContacto{
        width: 12rem;
    }

    /* MARQUEE */

    .marquee-item {
        font-size: 40px;
    }

    .marquee-dot {
        margin: 0 15px;
    }


    /* EXPERIENCIA FLOW */

    #experienciaFlow {
        padding: 1rem;
    }

    .containerExperienciaFlow {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 2rem;
    }

    .imagenFlow {
        position: static;
    }

    .tituloExperiencia {
        font-size: 22px;
    }


    /* ENTRENAMIENTOS */

    #entrenamientos {
        padding: 1rem;
    }

    .containerEntrenamientos {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }

    .entrenamiento {
        width: 100%;
        padding: 1.5rem;
    }


    /* GALERÍA */

    #galeria {
        padding: 1rem;
    }

    .containerGaleria {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0 1rem;
        gap: 1rem;
    }


    /* PLANES */

    #planes {
        padding: 1rem;
    }

    .containerPlanes {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }

    .detallePlan {
        padding: 1.5rem;
    }


    /* APP */

    .containerApp {
        padding: 2rem 1rem;
    }

    .subtituloApp {
        font-size: 2.5rem;
        line-height: 1;
    }

    .textoInstalaApp {
        font-size: 1.1rem;
    }

    .textoAsiDeSimple {
        font-size: 1.5rem;
    }

    .textoAsiDeSimple span{
        font-size: 1.5rem;
    }

    .textoAsiDeSimple p{
        font-size: 1rem;
    }

    .containterSistOperativos {
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;
    }

    .containterSistOperativos img {
        width: 180px;
        margin-top: 0.3rem;
    }


    /* WHATSAPP */

    .botonWhatsappFlotante {
        right: 15px;
        bottom: 15px;
    }

    .logoWhatsapp {
        width: 50px;
        height: 50px;
    }


    /* ONE MORE REP */

    #oneMoreRep {
        background-position: center;
    }

    .oneMoreRepTexto {
        font-size: clamp(3rem, 14vw, 6rem);
        line-height: 1;
        padding: 3rem 1rem;
    }


    /* FOOTER */

    .footerContainer {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        padding: 3rem 1.5rem;
    }

    .footerLogo,
    .footerNavbar,
    .footerContacto {
        width: 100%;
        text-align: center;
    }


    /* LOGO */

    .footerLogo img {
        width: 170px;
    }

    .footerLogo p {
        font-size: 1.1rem;
        text-align: center;
        padding-top: 15px;
    }


    /* TITULOS */

    .subtituloNavbarFooter {
        font-size: 18px;
    }

    .subtituloNavbarFooter::after {
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }


    /* NAVEGACION */

    .footerNavbar li {
        font-size: 15px;
        padding: 7px 0;
    }


    /* ICONOS */

    .fa-instagram,
    .fa-location-dot,
    .fa-whatsapp {
        font-size: 24px;
        padding: 1rem 0;
    }


    /* CONTACTO */

    .conteinerRed {
        justify-content: center;
        gap: 1rem;
    }

    .conteinerRed p {
        font-size: 14px;
    }
}
